Source: kernel-source-=V
Section: devel
Priority: optional
Maintainer:  =M
Standards-Version: 3.5.9.0

Package: kernel-headers-=V
Architecture: any
Section: devel
Priority: optional
Provides: kernel-headers, kernel-headers-=CV
Description: Header files related to Linux kernel version =V
 This package provides kernel header files for version =V, for sites 
 that want the latest kernel headers. Please read
 /usr/share/doc/kernel-headers-=V/debian.README.gz for details

Package: kernel-source-=V
Architecture: all
Section: devel
Priority: optional
Provides: kernel-source, kernel-source-=CV
Depends: binutils, bzip2
Recommends: libc-dev, gcc, make
Suggests: libncurses-dev | ncurses-dev, kernel-package
Description: Linux kernel source for version =V
 This package provides the source code for the Linux kernel version =V.
 .
 You may configure the kernel to your setup by typing "make config"
 and following instructions, but you could get ncursesX.X-dev and
 tkX.X-dev and try "make menuconfig" for a jazzier, and easier to use
 interface. Also, please read the detailed documentation in the file
 /usr/share/doc/kernel-source-=V/README.headers.gz. 
 .
 If you wish to use this package to create a custom Linux kernel, then
 it is suggested that you investigate the package kernel-package,
 which has been designed to ease the task of creating kernel image
 packages. 

Package: kernel-image-=V=SA
Architecture: =A
Section: base
Priority: optional
Provides: kernel-image,  kernel-image-=CV
Depends: =I coreutils | fileutils (>= 4.0)
Suggests: =L fdutils, kernel-doc-=V=SA | kernel-source-=V 
Description: Linux kernel binary image for version =V=SA.
 This package contains the Linux kernel image for version =V=SA,
 the corresponding System.map file, and the modules built by the
 packager.  It also contains scripts that try to ensure that the
 system is not left in a unbootable state after an update.
 .
 If you wish to update a bootdisk, or to use a bootloader to make
 installing and using the image easier, we suggest you install the latest
 fdutils (for formatting a floppy to be used as boot disk), and LILO, for a
 powerful bootloader. Of course, both these are optional. 
 .
 Kernel image packages are generally produced using kernel-package,
 and it is suggested that you install that package if you wish to
 create a custom kernel from the sources. Please look at kernel-img.conf(5),
 and /usr/share/doc/kernel-package/README.gz  from the package kernel-package
 for details on how to tailor the  installation of this or any other kernel 
 image package

Package: kernel-doc-=V
Architecture: all
Section: doc
Priority: optional
Provides: kernel-doc-=CV
Suggests: kernel-image-=V=SA
Description: Linux kernel specific documentation for version =V.
 This package provides various Readme's in the =V kernel
 Documentation/ subdirectory: these typically contain kernel-specific
 installation notes for some drivers. for example. Please see
 /usr/share/doc/kernel-doc-X.X.XX/Documentation/00-INDEX for a list of
 contents.  Please also read the Changes file, as it contains
 information about the problems which may result by upgrading your
 kernel.

