Source: kernel-source-=V
Section: devel
Priority: optional
Maintainer:  =M
Standards-Version: 2.4.0.0

Package: kernel-headers-=V
Architecture: any
Section: devel
Priority: optional
Provides: kernel-headers
Description: Linux kernel headers.
 This package provides kernel header files, for sites that want the latest
 kernel headers, but not the full source (Unless you really need a specific
 kernel version, you should consider just using the headers that come with
 libc5-dev, those correspond to a known good kernel)

Package: kernel-source-=V
Architecture: all
Section: devel
Priority: optional
Provides: kernel-source
Depends: binutils | gas
Recommends: libc-dev, gcc, make
Suggests: ncurses-dev, tk-dev
Description: Linux kernel source.
 This package provides the source code for the Linux kernel, as well
 as the scripts that maintain the symbolic link /usr/src/linux). This
 also contains everything in the package kernel-headers-=V, and thus
 if you install kernel-source-=V you do not also need to install
 kernel-headers-=V. 
 .
 You may configure the kernel to your setup by typing "make config"
 and following instructions, but you could get ncursesX.X-dev and
 tk4X-dev and try "make menuconfig" for a jazzier, and easier to use
 interface. Also, on intel platforms, you may wish to get bin86 (if
 you wish to compile the kernel sources, that is.)

Package: kernel-image-=V=SA
Architecture: =A
Section: base
Priority: optional
Provides: kernel-image
Suggests: =L, fdutils, kernel-doc-=V
Description: Linux kernel binary image.
 This package contains the Linux kernel image, the System.map file,
 and the modules built by the packager.  It also contains scripts that
 try to ensure that the system is not left in a unbootable state
 after an update.
 .
 If you wish to update a bootdisk, or to use a bootloader to make
 installing and using the image easier, we suggest you install the latest
 fdutils (for formatting a floppy to be used as boot disk), and LILO, for a
 powerful bootloader. Of course, both these are optional. 

Package: kernel-doc-=V
Architecture: all
Section: doc
Priority: optional
Suggests: kernel-image-=V
Description: Linux kernel specific documentation.
 This package provides The various readme's in the kernel
 Documentation/ subdirectory: these typically contain kernel-specific
 installation notes for some drivers for example. See
 /usr/doc/kernel-doc-X.X.XX/Documentation/00-INDEX for a list of what
 is contained in each file.  Please read the Changes file, as it
 contains information about the problems, which may result by
 upgrading your kernel.
