Source: kernel-source-=V
Section: devel
Priority: optional
Maintainer:  =M
Standards-Version: 3.0.0.0

Package: kernel-headers-=V
Architecture: any
Section: devel
Priority: optional
Provides: kernel-headers
Description: Header files related to a specific Linux kernel.
 This package provides kernel header files, for sites that want the latest
 kernel headers. Please read /usr/doc/kernel-headers-=V/debian.README.gz
 for details 

Package: kernel-source-=V
Architecture: all
Section: devel
Priority: optional
Provides: kernel-source
Depends: binutils | gas
Recommends: libc-dev, gcc, make
Suggests: ncurses-dev, tk-dev, kernel-package, bin86
Description: Linux kernel source.
 This package provides the source code for the Linux kernel, as well
 as the scripts that maintain the symbolic link /usr/src/linux). 
 .
 You may configure the kernel to your setup by typing "make config"
 and following instructions, but you could get ncursesX.X-dev and
 tk4X-dev and try "make menuconfig" for a jazzier, and easier to use
 interface. Also, on intel platforms, you MUST get bin86 if
 you wish to compile the kernel sources. Ignore the suggestion to get bin86
 for non intel architectures. Also, please read the detailed documentation
 /usr/doc/kernel-source-=V/README.headers.gz. 
 .
 If you wish to use this package to create a custom Linux kernel, then
 it is suggested that you investigate the package kernel-package,
 which has been designed to ease the task of creating kernel image
 packages. 

Package: kernel-image-=V=SA
Architecture: =A
Section: base
Priority: optional
Provides: kernel-image
Suggests: =L fdutils, kernel-doc-=V
Description: Linux kernel binary image.
 This package contains the Linux kernel image, the System.map file,
 and the modules built by the packager.  It also contains scripts that
 try to ensure that the system is not left in a unbootable state
 after an update.
 .
 If you wish to update a bootdisk, or to use a bootloader to make
 installing and using the image easier, we suggest you install the latest
 fdutils (for formatting a floppy to be used as boot disk), and LILO, for a
 powerful bootloader. Of course, both these are optional. 
 .
 Kernel image packages are generally produced using kernel-package,
 and it is suggested that you install that package if you wish to
 create a custom kernel from the sources.

Package: kernel-doc-=V
Architecture: all
Section: doc
Priority: optional
Suggests: kernel-image-=V=SA
Description: Linux kernel specific documentation.
 This package provides The various readme's in the kernel
 Documentation/ subdirectory: these typically contain kernel-specific
 installation notes for some drivers for example. See
 /usr/doc/kernel-doc-X.X.XX/Documentation/00-INDEX for a list of what
 is contained in each file.  Please read the Changes file, as it
 contains information about the problems, which may result by
 upgrading your kernel.

